@model VendingMachine.ViewModels.VendingMachineViewModel


<div>
    <h4>Vending Machine Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalCash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Totalcredit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Totalcredit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalSoldcans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSoldcans)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Totalcans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Totalcans)
        </dd>

    </dl>
</div>

<table class="table">
    <tr>
        <th>
            Flavor
        </th>
        <th>
            Price
        </th>
        <th>
            Amount
        </th>
    </tr>

    @foreach (var item in Model.CanList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Restock", "Restock")
</p>
