@model VendingMachine.ViewModels.VendingMachineViewModel

<div>
    <h4>VendingMachineViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalCash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Totalcredit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Totalcredit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalSoldcans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSoldcans)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Totalcans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Totalcans)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
